.footer {
    /* width: 40%; */
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    color: #5e6160;
    /* background-color: grey; */
  }
  
  .icon {
    border: none;
    background-color: white;
    transition: 0.2s;
  }
  
  .icon:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px #5e6160;
    background-color: #e2e2e2;
  }


  .btn {
    font: inherit;
    padding: 0.2rem 0.75rem;
    cursor: pointer;
    border-radius: 10px;
    /* background-color: rgb(200, 200, 200);
    border: 1px solid rgb(200, 200, 200); */
    margin: 0 1rem;
    color: #5e6160;
  }

  
  .btn:hover {
    background-color: rgb(210, 210, 210);
    border-color: rgb(255, 255, 255);
  }