
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* margin-left: 200px;
  margin-right: 200px; */
  margin: 0 auto;
  /* margin-top: 50px; */
  width: 60%;
  /* background-color: #dfdfdf; */
}

h2 {
  color: #6c646a;
 text-align: center;
 margin: 40px 0px 30px 0px;
}

p {
  display: inline;
}

.main {
  display: flex;
  /* background-color: rgb(179, 207, 249); */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* height: 50%; */
  margin: 2rem 0;
}

.headshot {
  /* margin: 40px;
  height: 20em; */
  /* background-image: url("url"); */
  width:150px;
  height:150px;
  background-size:contain;
  background-position:center;
  border-radius:50%;
  object-fit: cover;
  object-position: 0 20%;
}

.intro {
  color: rgb(94, 97, 96);
}

.aboutMain {
  /* background-color: rgb(179, 207, 249); */
  margin: 20px 0px 30px 0px;
  height: 80%;
}

.aboutBlock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgb(180, 180, 181); */
  margin: 1%;
  width: 100%;
  font-size: medium;
  letter-spacing: 1.3px;
  line-height: 18px;
  /* border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  padding: 0.5rem;
}

.aboutPics {
  height: 130px;
}

.aboutPara {

  color: #646c6b;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(180, 180, 181);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(180, 180, 181);
  margin: 0 1rem;
  text-decoration: 2px solid gray;
}

.btn:hover {
  background-color: rgb(156, 156, 157);
  border-color: rgb(255, 255, 255);
  color: rgb(198, 3, 3);
}

@media (max-width: 1200px) {
  .main {
    margin: 5em 0;
  }
  .headshot {
    width:120px;
    height:120px;
    background-size:contain;
    background-position:center;
    border-radius:50%;
    object-fit: cover;
    object-position: 0 20%;
  }
}

@media (max-width: 600px) {
  .main {
    margin: 2em 0;
  }
  
}